:root {
    --ilw-content--main-margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
    --ilw-content--narrow-max-width: calc(1000px + 3.75rem);
    --ilw-content--narrow-padding: 0 1.875rem;
    --ilw-content--inset-padding: 3rem 6rem;
    --ilw-content--background-color: white;
}

ilw-content p, ilw-content caption, ilw-content blockquote, ilw-content dd, ilw-content dt {
    display: block;
    font: 400 1.125rem/1.667rem var(--il-font-sans);
    color: var(--ilw-color--text);
    margin-top: 1.2rem;
    margin-bottom: 0;
  }

ilw-content td, ilw-content th {
  font: 400 1.125rem/1.667rem var(--il-font-sans);
  color: var(--ilw-color--text);
}

ilw-content pre {
  color: var(--ilw-color--text);
}

ilw-content b, ilw-content strong {
  font-weight: 700;
}

ilw-content i, ilw-content em {
  font-style: italic;
}

ilw-content a {
  color: var(--ilw-color--link);
  text-decoration: underline;
  cursor: pointer;
}

ilw-content a:visited {
  color: var(--ilw-color--link-visited);
}

ilw-content a:hover {
  color: var(--ilw-color--link-hover);
}

ilw-content a:focus {
  background-color: var(--ilw-color--focus--background);
  color: var(--ilw-color--focus--text);
  outline-color: var(--ilw-color--focus--outline);
}

ilw-content h1, ilw-content h2, ilw-content h3, 
ilw-content h4, ilw-content h5, 
ilw-content h6, ilw-content p.ilw-heading {
  display: block;
  color: inherit;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  font-family: var(--il-font-sans);
  color: var(--ilw-color--heading);
  margin-top: 1.8rem;
  margin-bottom: 0;
}

ilw-content h1 {
  font-size: 2.5rem;
  line-height: 2.875rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
  font-family: var(--il-font-heading);
}

ilw-content h2 {
  font-size: 2.188rem;
  line-height: 2.688rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}

ilw-content h3 {
  font-size: 1.813rem;
  line-height: 2.188rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}

ilw-content h4, ilw-content p.ilw-heading {
  font-size: 1.563rem;
  line-height: 1.813rem;
}

ilw-content h5 {
  font-size: 1.313rem;
  line-height: 1.75rem;
}

ilw-content h6 {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

ilw-content h4, ilw-content h5, ilw-content h6, ilw-content p.ilw-heading {
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
}

ilw-content ul, ilw-content ol {
  margin-top: 1.2rem;
  margin-bottom: 0;
}

ilw-content li {
  font: 400 1.125rem/1.667 var(--il-font-sans);
  color: var(--ilw-color--text);
}

ilw-content[align] ul, ilw-content[align] ol {
    list-style-position: inside;
}

ilw-content[mode=introduction] p {
    font-size: 1.375rem;
    line-height: 2.20rem;
}

ilw-content[mode=introduction] em {
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 400;
}

ilw-content[mode=introduction] .ilw-buttons {
    justify-content: flex-start;
}

ilw-content[mode=lede] p {
    font-style: italic;
    font-size: 1.375rem;
    line-height: 2.20rem;
}

ilw-content[mode=inset] h2, ilw-content[mode=inset] h3, 
ilw-content[mode=inset] h4, ilw-content[mode=inset] h5, 
ilw-content[mode=inset] h6, ilw-content[mode=inset] p.ilw-heading {
  font-size: 1.813rem;
  line-height: 2.175rem;
}

ilw-content[mode=inset] ul.ilw-buttons a:not([class^="ilw-theme-"]), ilw-content[mode=inset] ul.ilw-buttons button:not([class^="ilw-theme-"]) {
    background: var(--ilw-color--control);
    color: var(--ilw-color--control-text);
    border-color: var(--ilw-color--control-text);
}

ilw-content[mode=inset] ul.ilw-buttons a:not([class^="ilw-theme-"]):hover, ilw-content[mode=inset] ul.ilw-buttons button:not([class^="ilw-theme-"]):hover {
    background: var(--ilw-color--control-text);
    color: var(--ilw-color--control);
    border-color: var(--ilw-color--control-text);
}

ilw-content[mode=inset] ul.ilw-buttons a:not([class^="ilw-theme-"]):focus, ilw-content[mode=inset] ul.ilw-buttons button:not([class^="ilw-theme-"]):focus {
    background: var(--ilw-color--focus--background);
    color: var(--ilw-color--focus--text);
    border-color: var(--ilw-color--focus--outline);
}

ilw-content[mode=inset] ul.ilw-buttons a:not([class^="ilw-theme-"]):active, ilw-content[mode=inset] ul.ilw-buttons button:not([class^="ilw-theme-"]):active {
    background: var(--ilw-color--control-accent);
    color: var(--ilw-color--control-accent-text);
    border-color: var(--ilw-color--control-accent);
}

@media (max-width: 1450px) {
  ilw-content {
    --ilw-content--inset-padding: 3rem 2.2vw;
  }
}
@media (max-width: 1000px) {
  ilw-content {
    --ilw-content--inset-padding: 1.875rem;
  }
}
@media (max-width: 800px) {
  ilw-content {
    --ilw-content--inset-padding: 1.875rem 1.25rem;
  }
}